<!doctype html>
<html>
	<head>
		<title>i18n test page</title>
	</head>
	<body>
		<h2>{{t "greeting"}}</h2>
		<p>{{t "server_os" $.OS}}</p>
		<p>{{t "current_time" ($.Now | time)}}</p>
		<footer>{{tc "accesses" $.AccessCount}}</footer>
	</body>
</html>